<div class="container mt-5">

    <div>
        <h1> {{event.name}} </h1>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-4 col-gd-3">
            <img src="{{event.eventImg}}" alt="{{event.name}}">
        </div>

        <div class="col-md-4">
            <div class="mb-5">
                <p><strong>DESCRIPTION: </strong></p>
                <p> {{event.description}} </p>
            </div>
            <p><strong>START DATE: </strong> {{startDateFormatted}} </p>
            <p><strong>END DATE: </strong> {{endDateFormatted}} </p>
        </div>

        <div class="col-md-2 col-gd-6">
            <p><strong> ARTIST LIST: </strong></p>
            {{#each event.artists}}
            <a href="/api/getOneArtist/{{this}}" class="d-block mb-2"> {{this}} </a>
            {{/each}}
        </div>

        <div class="col-md-2">
            <p><strong> ASSISTANTS LIST ({{event.assistants.length}}): </strong></p>
            {{#each event.assistants}}
            <a href="/users/{{id}}" class="d-block mb-2"> {{username}} </a>
            {{/each}}
        </div>

    </div>

    <hr>

    {{#if currentUser}}
    <div class="container mt-4 mb-3">

        {{#if assist}}
        <form action="/events/{{event.id}}/notassist" method="POST">
            <button class="btn btn-danger"> Not Assist </button>
        </form>
        {{else}}
        <form action="/events/{{event.id}}/assist" method="POST">
            <button class="btn btn-danger mb-3"> Assist </button>
        </form>
        {{/if}}

    </div>
    {{/if}}

    <hr>

    <div id="map" class="mt-5 mb-5"></div>

    <hr>

    {{#if isOwner}}
    <div class="container mt-5">
        <a href="/events/{{event.id}}/edit" class="btn btn-dark btn-sm">Edit Event</a>
    </div>
    <div class="container mt-5 mb-5">
        <form action="/events/{{event.id}}/delete" method="POST">
            <button class="btn btn-danger"> Delete event </button>
        </form>
    </div>
    {{/if}}

    {{#if isAdmin}}
    <div class="container mt-5">
        <a href="/events/{{event.id}}/edit" class="btn btn-dark btn-sm">Edit Event</a>
    </div>
    <div class="container mt-5 mb-5">
        <form action="/events/{{event.id}}/delete" method="POST">
            <button class="btn btn-danger"> Delete event </button>
        </form>
    </div>
    {{/if}}

    <input type="hidden" id="eventName" value="{{event.name}}">
    <input type="hidden" id="eventLat" value="{{event.location.coordinates.[0]}}">
    <input type="hidden" id="eventLon" value="{{event.location.coordinates.[1]}}">

</div>


<script src="/js/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyBRgKaKfGaksL3PDZ-uWmOsj-PCBgJSE-E"></script>