<div class="container mt-5">

    <h1> EVENTS: </h1>

    <hr>

    <div class="container">

        <div class="row d-flex justify-content-around">

            {{#each eventList}}
            <div class="col-md-3 p-4 mb-2">

                {{!-- <article class="card p-3 mb-3">
                    <img class="artist-img mb-3" src="{{eventImg}}" alt="{{name}}">
                    <p class="mb-2"><strong>Name:</strong> {{name}}</p>
                    <a href="/events/{{id}}"> View Details </a>
                </article> --}}

                <article class="card p-3 mb-3">
                    <div class="div-card-img mb-4">
                        <img class="img-card-img" src="{{eventImg}}" alt="{{name}}">
                    </div>
                    <div class="container">
                        <p class="mb-2"><strong>Name:</strong> {{name}}</p>
                        <a href="/events/{{id}}"> View Details </a>
                    </div>
                </article>

            </div>
            {{/each}}

        </div>

    </div>

</div>