<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1> Edit event </h1>

            <hr>

            <form action="/events/{{event.id}}/edit" method="POST" enctype="multipart/form-data">
                <div class="mb-3 mt-5">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" id="" name="name" value="{{event.name}}">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Descripction</label>
                    <input type="text" class="form-control" id="" name="description" value="{{event.description}}">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label"> Image </label>
                    <input type="file" class="form-control" id="profileImg" name="eventImg">
                </div>

                <div class="mb-3 ">
                    <label for="" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="" name="startDate" value="{{startDateFormatted}}">
                </div>

                <div class="mb-3 ">
                    <label for="" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="" name="endDate" value="{{endDateFormatted}}">
                </div>

                <button type="submit" class="btn btn-dark">Update Event</button>
            </form>

        </div>

    </div>

</div>