<div class="container mt-5">

    <div>
        <h1> {{event.name}} </h1>
    </div>

    <hr>

    <div class="row">

        <div class="col-md-4 col-gd-3">
            <img src="{{event.eventImg}}" alt="{{event.name}}">
        </div>

        <div class="col-md-3">
            <div class="mb-5">
                <p><strong>DESCRIPTION: </strong></p>
                <p> {{event.description}} </p>
            </div>
            <p><strong>START DATE: </strong> {{event.date.start}} </p>
            <p><strong>END DATE: </strong> {{event.date.end}} </p>
        </div>

        <div class="col-md-2 col-gd-6">
            <p><strong> ARTIST LIST: </strong></p>
            {{#each event.artists}}
            <a href="/api/getOneArtist/{{this}}" class="d-block mb-2"> {{this}} </a>
            {{/each}}
        </div>

        <div class="col-md-3">
            <p><strong> ASSISTANTS LIST ({{event.assistants.length}}): </strong></p>
            {{#each event.assistants}}
            <a href="/users/{{id}}" class="d-block mb-2"> {{username}} </a>
            {{/each}}
        </div>

    </div>

    <hr>

    {{#if currentUser}}
    <div class="container mt-5">
        <form action="/events/{{event.id}}/assist" method="POST">
            <button class="btn btn-danger"> Assist </button>
        </form>
    </div>
    {{/if}}

    {{#if isOwner}}
    <div class="container mt-5">
        <a href="/events/{{event.id}}/edit" class="btn btn-dark btn-sm">Edit Event</a>
    </div>
    <div class="container mt-5">
        <form action="/events/{{event.id}}/delete" method="POST">
            <button class="btn btn-danger"> Delete event </button>
        </form>
    </div>
    {{/if}}

    {{#if isAdmin}}
    <div class="container mt-5">
        <a href="/events/{{event.id}}/edit" class="btn btn-dark btn-sm">Edit Event</a>
    </div>
    <div class="container mt-5">
        <form action="/events/{{event.id}}/delete" method="POST">
            <button class="btn btn-danger"> Delete event </button>
        </form>
    </div>
    {{/if}}


    {{!-- <div class="container mt-5">
        <a href="/events/{{id}}/edit" class="btn btn-dark btn-sm">Edit Event</a>
    </div>
    <div class="container mt-5">
        <form action="/events/{{id}}/delete" method="POST">
            <button class="btn btn-danger"> Delete event </button>
        </form>
    </div>

    <div class="container mt-5">
        <form action="/events/{{id}}/assist" method="POST">
            <button class="btn btn-danger"> Assist </button>
        </form>
    </div> --}}


</div>