<div class="container mt-5">

    <h1>Hola, {{user.username}} </h1>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{user.profileImg}}" alt="{{user.name}}">
            </div>

            <div class="col">
                <p><strong> EMAIL: </strong> {{user.email}} </p>
                <p><strong> ROLE: </strong> {{user.role}} </p>
            </div>

            <div class="col">
                <p><strong> FAVORITE ARTISTS ({{user.favoriteArtists.length}}): </strong></p>
                {{#each user.favoriteArtists}}
                <a href="/artists/{{id}}" class="d-block mb-2"> {{name}} </a>
                {{/each}}
            </div>

            <div class="col">
                <p><strong> EVENT LIST ATTENDED ({{eventList.length}}): </strong></p>
                {{#each eventList}}
                <a href="/events/{{id}}" class="d-block mb-2"> {{name}} </a>
                {{/each}}
            </div>

        </div>
    </div>

    <hr>

    <div class="container mt-5">
        <a href="/profile/edit" class="btn btn-dark btn-sm">Edit Profile</a>
    </div>

</div>