<div class="container mt-5">

    <h1>Hola, {{user.username}} </h1>

    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{{user.profileImg}}" alt="{{user.name}}">
            </div>

            <div class="col">
                <p><strong> EMAIL: </strong> {{user.email}} </p>
            </div>

            <div class="col">
                <p><strong> EVENTS ATTENDED: </strong> {{eventList.length}} </p>
            </div>

            <div class="col">
                <p><strong> EVENT LIST ATTENDED: </strong></p>
                {{#each eventList}}
                <p> {{name}} </p>
                {{/each}}
            </div>

        </div>
    </div>


</div>