<div class="container mt-5">

    <div>
        <h1>Artist Details</h1>
    </div>

    <hr>

    <div class="row container">
        <div class="col-md-3 col-gd-3">
            <img src="{{images.[0].url}}" alt="{{name}}">
        </div>

        <div class="col-md-6 col-gd-6">
            <h2>{{name}}</h2>
            <p>Followes: {{followers.total}}</p>
            <p>Genero: {{genres}}</p>
            <div class="d-grid gap-2 col-3 mx-auto"> <a href="/artists" class="btn btn-dark btn-sm">Return Artists
                    List</a>
            </div>
        </div>
    </div>

</div>