<div class="container mt-5">

    <div>
        <h1>ARTISTS</h1>
    </div>

    <hr>

    <div class="container">

        <div class="row d-flex justify-content-around">

            {{#each artistList}}
            <div class="col-md-3 p-4 mb-2">

                <article class="card p-3 mb-3">
                    <div class="div-card-img">
                        <img class="img-card-img" src="{{images.[0].url}}" alt="{{name}}">
                    </div>
                    <div class="container">
                        <p><strong>Name:</strong> {{name}}</p>
                        <a href="/artists/{{id}}"> View Details </a>
                    </div>
                    {{!-- <p><strong>Description:</strong> {{description}}</p> --}}
                </article>

            </div>
            {{/each}}

        </div>

    </div>

</div>